* text=auto eol=lf
*.cs text diff=csharp
*.unity text merge=unityyamlmerge eol=lf
*.prefab text merge=unityyamlmerge eol=lf
*.asset text merge=unityyamlmerge eol=lf
*.mat text merge=unityyamlmerge eol=lf
*.meta text merge=unityyamlmerge eol=lf
*.anim text merge=unityyamlmerge eol=lf
*.controller text merge=unityyamlmerge eol=lf
*.asmdef text eol=lf
*.json text eol=lf
*.md text eol=lf
*.fbx binary
*.png binary
*.tga binary
*.jpg binary
*.psd binary
*.wav binary
*.mp3 binary
*.ogg binary
*.unitypackage binary
